<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IBatisNet.Common" publicKeyToken="ed781d9fc396c6ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.2.666" newVersion="1.6.2.666" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBatisNet.DataMapper" publicKeyToken="ed781d9fc396c6ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.2.666" newVersion="1.6.2.666" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>