<div style="width: 100%;">
    <div id="toolbar" class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 100%;">
                    <a class="mini-button" iconcls="icon-add" onclick="addRow()" plain="true">增加</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconcls="icon-remove" onclick="removeRow()" plain="true">删除</a>
                    <span class="separator"></span>
                    <a id="btnSave" class="mini-button" iconcls="icon-save" onclick="saveData();" plain="true">保存</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconcls="fa-user-o" onclick="assignUser()" plain="true">分配用户</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconcls="fa-bath" onclick="assignMenu()" plain="true">分配菜单</a>
                </td>
                <td style="white-space: nowrap;">
                    <input id="groupname" class="mini-textbox" emptytext="请输入用户组名称" style="width: 150px;" onenter="onKeyEnter" />
                    <a class="mini-button" iconcls="icon-search" plain="true" onclick="search()" tooltip="搜索"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="mini-fit">
    <div id="datagrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="../../System/SysAuthority/GetSysFuncGroupList"
         allowresize="false" pagesize="20" sizelist="[20,50,100,500]" allowcelledit="true" allowcellselect="true"
         multiselect="true" allowcellvalid="true" fitcolumns="false">
        <div property="columns">
            <div type="checkcolumn"></div>
            <div type="indexcolumn"></div>
            <div field="GroupName" vtype="required;maxLength:150" width="200" headeralign="center" allowsort="true">
                用户组名称
                <input property="editor" class="mini-textbox" style="width: 100%;" />
            </div>
            <div type="checkboxcolumn" field="GroupIsValid" vtype="required;" width="50" headeralign="center" truevalue="1" falsevalue="0">
                有效
            </div>
            <div field="GroupRemark" width="190" headeralign="center" vtype="maxLength:150">
                备注
                <input property="editor" class="mini-textarea" style="width: 100%;" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var datagrid = mini.get("datagrid");
    datagrid.load();

    function addRow() {
        var newRow = { name: "New Row", GroupIsValid: 1, GroupType: "func" };
        datagrid.addRow(newRow);
    }

    function removeRow() {
        var selecteds = datagrid.getSelecteds();

        if (!selecteds || selecteds.length == 0) {
            mini.showTips({
                content: "<b>警告</b> <br/>请选择记录！",
                state: "warning",
                x: "center",
                y: "center",
                timeout: 2000
            });
            return;
        }

        datagrid.removeRows(selecteds);
    }

    function saveData() {
        datagrid.validate();

        if (!datagrid.isValid()) {
            var error = datagrid.getCellErrors()[0];
            datagrid.beginEditCell(error.record, error.column);
            mini.showTips({
                content: "<b>警告</b> <br/>请输入所有要求字段！",
                state: "warning",
                x: "center",
                y: "center",
                timeout: 2000
            });
            return;
        }

        var addData = datagrid.getChanges("added");
        var modifyData = datagrid.getChanges("modified");
        var removeData = datagrid.getChanges("removed");
        if (addData.length == 0 && modifyData.length == 0 && removeData.length == 0) {
            mini.showTips({
                content: "<b>警告</b> <br/>未检测到任何修改！",
                state: "warning",
                x: "center",
                y: "center",
                timeout: 2000
            });
            return;
        }

        datagrid.loading("保存中，请稍后......");

        mini.get("btnSave").set({ enabled: false });

        $.ajax({
            url: "../../System/SysAuthority/SaveGroupChanges",
            type: "post",
            data: { addData: mini.encode(addData), modifyData: mini.encode(modifyData), removeData: mini.encode(removeData) },
            success: function (text, flag, res) {
                datagrid.unmask();
                var msg = mini.decode(arguments[2].responseText);
                if (msg.isSuccess) {
                    mini.showTips({
                        content: "<b>成功</b> <br/>保存成功！",
                        state: "success",
                        x: "center",
                        y: "center",
                        timeout: 2000
                    });
                    datagrid.reload(function () { search(); });
                } else {
                    mini.showMessageBox({
                        title: "保存失败",
                        iconCls: "mini-messagebox-warning",
                        buttons: ["ok"],
                        message: "失败原因：<br/>" + msg.DisplayErrorMsg + "其余保存成功！",
                        callback: function (action) { }
                    });
                }
                mini.get("btnSave").set({ enabled: true });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                datagrid.unmask();
                mini.showTips({
                    content: "<b>失败</b> <br/>保存失败！",
                    state: "danger",
                    x: "center",
                    y: "center",
                    timeout: 2000
                });
                mini.get("btnSave").set({ enabled: true });
            }
        });
    }

    function onKeyEnter() {
        search();
    }

    function search() {
        datagrid.load({ groupName: mini.get("groupname").getValue() });
    }

    function assignUser() {
        var rows = datagrid.getSelecteds();
        if (!rows || rows.length != 1) {
            mini.showTips({
                content: "<b>警告</b> <br/>请选择记一条记录！",
                state: "warning",
                x: "center",
                y: "center",
                timeout: 2000
            });
            return;
        }

        var row = datagrid.getSelected();
        mini.open({
            url: urlhelper.getRootPath() + "/System/SysAuthority/AssignFuncUser?groupId=" + row.GroupId,
            width: "800px",
            height: "600px"
        });
    }

    function assignMenu() {
        var rows = datagrid.getSelecteds();
        if (!rows || rows.length != 1) {
            mini.showTips({
                content: "<b>警告</b> <br/>请选择记一条记录！",
                state: "warning",
                x: "center",
                y: "center",
                timeout: 2000
            });
            return;
        }

        var row = datagrid.getSelected();
        mini.open({
            url: urlhelper.getRootPath() + "/System/SysAuthority/AssignFuncMenu?groupId=" + row.GroupId,
            width: "1150px",
            height: "600px"
        });
    }
</script>