<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers resource="Config/MyBatis/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2005" />
    <dataSource name="SqlServerConn" connectionString="Data Source=.;Initial Catalog=AnyWayApps;Persist Security Info=True;User ID=sa;Password=Zhzqj518"/>
  </database>

  <!--SqlMaps文件定义-->
  <sqlMaps>
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysLog.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysMenu.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysUser.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysOrg.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysGroup.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysGroupMenu.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysGroupUser.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysGroupOrg.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysMenuSpcl.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysMenuAction.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.SqlServer/SysGroupMenuAction.BatisMap.xml" />
  </sqlMaps>
</sqlMapConfig>