<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers resource="Config/MyBatis/providers.config"/>

  <!-- Database connection information -->
  <database>

    <provider name="oracleClient1.0" />
    <dataSource name="OracleConn" connectionString="Data Source=AnyWayApps;Persist Security Info=true;User ID=apps;Password=apps;"/>
  </database>

  <!--SqlMaps文件定义-->
  <sqlMaps>
    <sqlMap resource="bin/SqlMaps.System.Oracle/SysLog.BatisMap.xml" />
    <sqlMap resource="bin/SqlMaps.System.Oracle/SysMenu.BatisMap.xml" />
  </sqlMaps>
</sqlMapConfig>