<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="ISystemBizManager.ISysUserBizManager,ISystemBizManager" mapTo="SystemBizManager.SysUserBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysUserRepository, ISystemRepository" mapTo="SystemRepository.SysUserRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysLogBizManager,ISystemBizManager" mapTo="SystemBizManager.SysLogBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysLogRepository, ISystemRepository" mapTo="SystemRepository.SysLogRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysMenuBizManager,ISystemBizManager" mapTo="SystemBizManager.SysMenuBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysMenuRepository, ISystemRepository" mapTo="SystemRepository.SysMenuRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysOrgBizManager,ISystemBizManager" mapTo="SystemBizManager.SysOrgBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysOrgRepository, ISystemRepository" mapTo="SystemRepository.SysOrgRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysGroupBizManager,ISystemBizManager" mapTo="SystemBizManager.SysGroupBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysGroupRepository, ISystemRepository" mapTo="SystemRepository.SysGroupRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysGroupMenuBizManager,ISystemBizManager" mapTo="SystemBizManager.SysGroupMenuBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysGroupMenuRepository, ISystemRepository" mapTo="SystemRepository.SysGroupMenuRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysGroupUserBizManager,ISystemBizManager" mapTo="SystemBizManager.SysGroupUserBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysGroupUserRepository, ISystemRepository" mapTo="SystemRepository.SysGroupUserRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysGroupOrgBizManager,ISystemBizManager" mapTo="SystemBizManager.SysGroupOrgBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysGroupOrgRepository, ISystemRepository" mapTo="SystemRepository.SysGroupOrgRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysMenuSpclBizManager,ISystemBizManager" mapTo="SystemBizManager.SysMenuSpclBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysMenuSpclRepository, ISystemRepository" mapTo="SystemRepository.SysMenuSpclRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysMenuActionBizManager,ISystemBizManager" mapTo="SystemBizManager.SysMenuActionBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysMenuActionRepository, ISystemRepository" mapTo="SystemRepository.SysMenuActionRepository,SystemRepository"/>

      <register type="ISystemBizManager.ISysGroupMenuActionBizManager,ISystemBizManager" mapTo="SystemBizManager.SysGroupMenuActionBizManager,SystemBizManager"/>
      <register type="ISystemRepository.ISysGroupMenuActionRepository, ISystemRepository" mapTo="SystemRepository.SysGroupMenuActionRepository,SystemRepository"/>
    </container>
  </unity>
</configuration>